<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Untitled Custom SSG</title>
</head>
<body>
  When they come for you, I will shield your name
I will field their questions, I will feel your pain
No one can judge
They don&#39;t, they don&#39;t know
They don&#39;t know
Foot on the Devil&#39;s neck &#39;til it drifted Pangaea
I&#39;m moving all my family from Chatham to Zambia
Treat the demons just like Pam
I mean I fuck with your friends, but damn, Gina
I been this way since Arthur was anteater
Now they wanna hit me with the woo wap, the bam
Tryna snap photos of familia
My daughter look just like Sia, you can&#39;t see her
You can feel the lyrics, the spirit coming in braille
</body>
</html>
