<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Untitled Custom SSG</title>
</head>
<body>
  Tubman of the underground, come and follow the trail
I made Sunday Candy, I&#39;m never going to hell
I met Kanye West, I&#39;m never going to fail
He said let&#39;s do a good ass job with Chance three
I hear you gotta sell it to snatch the Grammy
Let&#39;s make it so free and the bars so hard
That there ain&#39;t one gosh darn part you can&#39;t tweet
This is my part, nobody else speak
This is my part, nobody else speak
This little light of mine
Glory be to God, yeah
I&#39;ma make sure that they go where they can&#39;t go
If they don&#39;t wanna ride I&#39;ma still give them raincoats
Know what God said when he made the first rainbow
Just throw this at the end if I&#39;m too late for the intro
Ugh, I&#39;m just having fun with it
You know that a nigga was lost
I laugh in my head
Cause I bet that my ex looking back like a pillar of salt
Ugh, cause they&#39;ll flip the script on your ass like Wesley and Spike
You cannot mess with the light
Look at lil Chano from 79th
</body>
</html>
